<div id="footer">

    <div class="sponsers">
      <div class="sponinner">
            <div class="sponshead">
                <h5 class="colr bold">Liên Kết</h5>
            </div>
            <div class="spnscrousal">
                <div class="carouselsec_wrapp">
        <ul>
          <li>
            <a href="#">
              <%= image_tag "logo1.gif", alt: "" %>
            </a>
                        </li>
                        <li>
            <a href="#">
              <%= image_tag "logo2.gif", alt: "" %>
            </a>
                        </li>
                        <li>
            <a href="#">
              <%= image_tag "logo3.gif", alt: "" %>
            </a>
                        </li>
                        <li>
            <a href="#">
              <%= image_tag "logo4.gif", alt: "" %>
            </a>
                        </li>
                        <li>
            <a href="#">
              <%= image_tag "logo5.gif", alt: "" %>
            </a>
          </li>
                        <li>
            <a href="#">
              <%= image_tag "logo6.gif", alt: "" %>
            </a>
          </li>
                        <li>
            <a href="#">
              <%= image_tag "logo7.gif", alt: "" %>
            </a>
          </li>
        </ul>
      </div>
            </div>
        </div>
    </div>
    <div class="inner">

        <div class="footerwidgets">

            <div class="widget first">

                <div class="textwidget">
                    <h4 class="headng colr">Thông Tin</h4>
                    <p>
                        Trường Cao đẳng nghề Đà Nẵng được thành lập theo Quyết định số: 194/QĐ-BLĐTB&XH ngày 31/1/2007 của Bộ Lao động Thương binh và Xã hội trên  cơ sở nâng cấp Trường Kỹ thuật -  Kinh tế Đà Nẵng.
                    </p>
                </div>
            </div>

            <div class="widget">

              <div class="getsocial">
                  <h4 class="headng colr">Liên Hệ</h4>
                    <ul>
                      <li><a href="#">
                        <%= image_tag "social1.gif", alt: "" %>

                      </a><span>Facebook</span></li>
                        <li><a href="#">
                          <%= image_tag "social2.gif", alt: "" %>

                        </a><span>Twitter</span></li>
                        <li><a href="#">
                          <%= image_tag "social3.gif", alt: "" %>

                        </a><span>Skype</span></li>
                        <li><a href="#">
                          <%= image_tag "social4.gif", alt: "" %>

                        </a><span>Yahoo</span></li>
                        <li><a href="#">
                          <%= image_tag "social5.gif", alt: "" %>

                        </a><span>Digg it</span></li>
                        <li><a href="#">
                          <%= image_tag "social6.gif", alt: "" %>

                        </a><span>Windows</span></li>
                        <li><a href="#">
                          <%= image_tag "social7.gif", alt: "" %>

                        </a><span>Apple</span></li>
                        <li><a href="#">
                          <%= image_tag "social8.gif", alt: "" %>

                        </a><span>Stumble Upon</span></li>
                        <li><a href="#">
                          <%= image_tag "social9.gif", alt: "" %>

                        </a><span>Freinds Finder</span></li>
                        <li><a href="#">
                          <%= image_tag "social10.gif", alt: "" %>

                        </a><span>Picasa</span></li>
                        <li><a href="#">
                          <%= image_tag "social11.gif", alt: "" %>

                        </a><span>Sound Cloud</span></li>
                        <li><a href="#">
                          <%= image_tag "social12.gif", alt: "" %>

                        </a><span>Blogger</span></li>
                        <li><a href="#">
                          <%= image_tag "social13.gif", alt: "" %>

                        </a><span>Delicious</span></li>
                        <li><a href="#">
                          <%= image_tag "social14.gif", alt: "" %>

                        </a><span>Google</span></li>
                        <li><a href="#">
                          <%= image_tag "social15.gif", alt: "" %>

                        </a><span>Vimeo</span></li>
                        <li><a href="#">
                          <%= image_tag "social16.gif", alt: "" %>

                        </a><span>Gamespot</span></li>
                        <li><a href="#">
                          <%= image_tag "social17.gif", alt: "" %>

                        </a><span>AIM</span></li>
                        <li><a href="#">
                          <%= image_tag "social18.gif", alt: "" %>

                        </a><span>Viddler</span></li>
                        <li><a href="#">
                          <%= image_tag "social19.gif", alt: "" %>

                        </a><span>Yelp</span></li>
                        <li><a href="#">
                          <%= image_tag "social20.gif", alt: "" %>

                        </a><span>AIM</span></li>
                        <li><a href="#">
                          <%= image_tag "social21.gif", alt: "" %>

                        </a><span>Virb</span></li>
                        <li><a href="#">
                          <%= image_tag "social22.gif", alt: "" %>

                        </a><span>Technorati</span></li>
                        <li><a href="#">
                          <%= image_tag "social23.gif", alt: "" %>

                        </a><span>Tumbler</span></li>
                        <li><a href="#">
                          <%= image_tag "social24.gif", alt: "" %>

                        </a><span>Reddit</span></li>
                    </ul>
                </div>
            </div>

            <div class="widget">

                <div class="textwidget">
                    <h4 class="headng colr">Địa Chỉ</h4>
                    <p>
                        Đường Tô Hiến Thành <br />
                        Thành Phố Đà Nẵng<br />
                        Số Fax - 43680.<br />
                        Điện Thoại - 123 456 7890/91/92<br />
                        Số Bàn - 123 456 7890<br />
                        e-mail : info@organisation.org <br />
                    </p>
                </div>
            </div>

            <div class="widget">

              <div class="newsletter">
                    <h4 class="headng colr">Giới Thiệu</h4>
                    <p>Trường Cao đẳng nghề Đà Nẵng được thành lập theo Quyết định số: 194/QĐ-BLĐTB&XH ngày 31/1/2007 của Bộ Lao động Thương binh và Xã hội trên  cơ sở nâng cấp Trường Kỹ thuật -  Kinh tế Đà Nẵng.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="navi_bottom">
          <ul>
               <li>
                 <%= link_to root_path, class: "txthover" do %>
                    Trang Chủ
                 <% end %>
               </li>
                <li><a href="#" class="txthover">Tin Tức</a></li>
                <li><a href="events.html" class="txthover">Văn Bản</a></li>
                <li><a href="#" class="txthover">Khoa CM</a></li>
                <li><a href="#" class="txthover">Phòng-Ban-TT</a></li>
                <li><a href="contact.html" class="txthover">Hệ Thống Tổ Chức</a></li>
                <li><a href="blog.html" class="txthover">Đào Tạo</a></li>
                <li><a href="#" class="txthover">Tuyển Sinh - GTVL</a></li>
                <li><a href="#" class="txthover">Nghiên Cức Khoa Học</a></li>
                <li><a href="#" class="txthover">Giới Thiệu</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
<div id="copyright" class="backcolr">
  <div class="inner">
      <p>© Copyright 2017 DNVTC, Trường Cao Đẳng Nghề Đà Nẵng.</p>
        <a href="#top" class="top">&nbsp;</a>
    </div>
</div>
</div>
</body>


</html>

<script type="text/javascript">
$(window).load(function() {
$('#slider').nivoSlider();
});
</script>
