
<body>
<!-- Clouds effect -->
<span class="grung backcolr">&nbsp;</span>
<span class="blackstrip">&nbsp;</span>
<span class="whitestrip">&nbsp;</span>
<!-- Outer Wrapper -->
<div id="outer_wrapper">
	<!-- Header -->
	<div id="header">
        <div class="clear"></div>
  </div>

        <div class="navigation">
        	<div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                    <li class="current-menu-item"><a href="index-2.html">TRANG CHỦ</a></li>
                    <li><a href="#">TIN TỨC</a></li>
                    <li><a href="blog.html">VĂN BẢN</a>
                        <ul class="backcolr ul-level-2">
                            <li><a href="#">Facebook Fan</a></li>
                            <li><a href="#">You've Helped</a>
                            	<ul class="backcolrdark">
                                    <li><a href="#">You've Helped</a></li>
                                    <li><a href="#">Text Widget</a></li>
                                    <li><a href="#">Get Social</a></li>
                                    <li><a href="#">Banner ads</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Text Widget</a></li>
                            <li><a href="#">Get Social</a></li>
                            <li><a href="#">Banner ads</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery_sidebar.html">KHOA CM</a></li>
                    <li><a href="gallery_sidebar.html">PHÒNG-BAN-TT</a></li>
                    <li><a href="contact.html">HỆ THÔNG TỔ CHỨC</a></li>
                    <li><a href="#">ĐÀO TẠO</a>
                        <ul class="backcolr ul-level-2">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blogdetail.html">Blog Detail</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="eventsdetail.html">Event Detail</a></li>
                            <li><a href="#">Gallery</a>
                            	<ul class="backcolrdark">
                                    <li><a href="gallery_sidebar.html">Gallery With Sidebar</a></li>
                                    <li><a href="gallery_two_column.html">Gallery Two Column</a></li>
                                    <li><a href="gallery_three_column.html">Gallery Three Column</a></li>
                                    <li><a href="gallery_four_column.html">Gallery Four Column</a></li>
                                </ul>
                            </li>
                            <li><a href="videodetail.html">Video Detail</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="contact-2.html">PHP Contact Us Form</a></li>
                            <li><a href="static.html">Fullwidth</a></li>
                        </ul>
                    </li>
										<li><a href="#">TUYỂN SINH - GTVL</a></li>
										<li><a href="#">NGHIÊN CỨU KH</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="announcment">
            	<ul>
                	<li>
                    	<h5 class="bold"><a href="blogdetail.html" class="txthover">Consectetur adipiscing elit. Nulla</a></h5>
                        <p class="date">December 18th 2011</p>
                    </li>
                    <li>
                    	<h5 class="bold"><a href="blogdetail.html" class="txthover">Consectetur adipiscing elit. Nulla</a></h5>
                        <p class="date">December 18th 2011</p>
                    </li>
                    <li>
                    	<h5 class="bold"><a href="blogdetail.html" class="txthover">Consectetur adipiscing elit. Nulla</a></h5>
                        <p class="date">December 18th 2011</p>
                    </li>
                </ul>
            	<a href="#" class="mlink">GIỚI THIỆU</a>
            </div>
        </div>



				<div id="header2">
					<div class="logo">

					</div>
			    <div class="headtext">

			    </div>
			    <div class="righthead">
			    	<ul class="links">
			            <li><a href="#" class="txthover">Directions</a></li>
			            <li><a href="#" class="txthover">Volunteer</a></li>
			        	<li><a href="javascript:animatedcollapse.toggle('jason')" class="colr">Staff Login</a></li>
			        </ul>
			        <div id="jason" class="loginbox">
			        	<h5 class="loghead backcolr">Staff Login</h5>
			            <ul>
			            	<li class="txt"><h6 class="colr bold">Login Id</h6></li>
			                <li class="field"><input type="text" class="bar" /></li>
			                <li class="txt"><h6 class="colr bold">Password</h6></li>
			                <li class="field"><input type="password" class="bar" /></li>
			                <li class="txt"><a href="#" class="forgot">Forgot your password?</a></li>
			                <li class="field"><input type="submit" value="Submit" class="go backcolr" /></li>
			            </ul>
			        </div>
			        <div class="clear"></div>
			        <div class="search">
			            <h3 class="white bold">Search</h3>
			            <ul>
			                <li>
			                    <input type="text" value="Enter any Keyword" name="s" onblur="if(this.value == '') { this.value = 'Enter any Keyword'; }" onfocus="if(this.value == 'Enter any Keyword') { this.value = ''; }" class="txtfield" />
			                </li>
			                <li class="right"><input type="submit" class="go backcolr" value="" /></li>
			            </ul>
			        </div>
			        <div class="clear"></div>
			    </div>




    </div>
    <div class="clear"></div>
    <!-- Banner -->
    <div id="banner">
    	<div class="inner">
        	<div class="slider-wrapper theme-default">
                <div class="ribbon"></div>
                <div id="slider" class="nivoSlider">
                    <a href="#">
                      <%= image_tag "banner1.jpg", title: "#banner1", alt: "" %>
                    </a>
                    <a href="#">
                      <%= image_tag "banner2.jpg", title: "#banner2", alt: "" %>
                    </a>
                    <a href="#">
                      <%= image_tag "banner3.jpg", title: "#banner3", alt: "" %>
                    </a>
                    <a href="#">
                      <%= image_tag "banner4.jpg", title: "#banner4", alt: "" %>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!-- Content Section -->
    <div id="contentsec">
    	<div class="inner">
        	<!-- Notification -->
        	<div class="notification">
            	<div id="slider1" class="sliderwrapper">
                    <div class="contentdiv">
                        <h5 class="bold">WARNING: You can use this to call attention to breaking news alerts. You can also add links.</h5>
                    </div>
                    <div class="contentdiv">
                        <h5 class="bold">WARNING: You can also add links.</h5>
                    </div>
                    <div class="contentdiv">
                        <h5 class="bold">WARNING: You can use this to call attention to breaking news alerts.</h5>
                    </div>
                </div>
                <div id="paginate-slider1" class="pagination"></div>

                <a class="cross close">&nbsp;</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!-- Columns -->
            <div class="columns">
            	<!-- Small side bar left -->
                <div class="barsmall left padright">
                    <!-- Widget -->
                	<div class="widget">
                    	<h4 class="headng backcolr">Upcomming Event</h4>
                        <!-- Text Widget -->
                        <div class="upcommingevent">
                        	<!-- Counter Section -->
                            <div class="countersec">
                                <h5 class="bold">Time Left For this Event</h5>
                                <div id="counter"></div>
                                <ul class="desc colr">
                                	<li class="days">Days</li>
                                    <li class="hours">Hours</li>
                                    <li class="mints">Minutes</li>
                                    <li class="secnds">Seconds</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <!-- Up Events -->
                            <div class="upevent">
                                <h5 class="colr bold">Save Orphans Charity Dinner</h5>
                                <p class="bold">Youth demonstration to demand equity in climate change negotiations</p>
                                <p>
                                    <span class="date">10/03/2012-11:00 am</span>
                                    <span class="venu">1 Infinite Loop Cupertino, CA</span>
                                </p>
                            </div>
                            <div class="clear"></div>
                            <a href="eventsdetail.html" class="readmore">Read More</a>
                    	</div>
                    </div>
                    <!-- Widget -->
                    <div class="widget">
                    	<!-- Facebook -->
                        <div class="facebookwidget">
                          <%= image_tag "facebook.gif", alt: "" %>
                        </div>
                    </div>
                </div>
                <!-- Middle big section -->
                <div class="barbig left padright">
                	<!-- Advertisment 468*60 -->
                	<div class="ban_smal">
                    	<a href="#">
                        <%= image_tag "adv1.gif", alt: "" %>
                      </a>
                    </div>
                    <div class="clear"></div>
                    <!-- Tabs Section -->
                    <div class="tabssection">
                    	<!-- Tabs -->
                    	<div class="tab_menu_container backcolr">
                            <ul id="tab_menu">
                                <li><a class="current" rel="feeds">News Feeds</a></li>
                                <li><a class="" rel="videos">Latest Videos</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <!-- Tabs Container -->
                        <div class="tab_container">
                            <div class="tab_container_in">
                                <!-- News Feeds -->
                                <div id="feeds" class="tab_sidebar_list feedsec">
                                	<!-- Tab Banner -->
                                    <div class="tabbanner">
                                    	<div class="captions bordercolr">
                                        	<h5><a href="#" class="white bold">Consectetur adipiscing elitam pulvinar.</a></h5>
                                            <p>
                                            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi euismod ut pharetra odio consectetur.
                                            </p>
                                        </div>
                                    	<a href="#" class="thumb">
                                        <%= image_tag "banner_small.jpg", alt: "" %>
                                      </a>
                                    </div>
                                    <!-- Feeds Listings -->
                                    <div class="feedlist testimonial_wrapp">
                                    	<ul>
                                        	<li>
                                            	<a href="blogdetail.html" class="thumb">
                                                <%= image_tag "feed1.gif", alt: "" %>
                                              </a>
                                                <div class="desc">
                                                	<h5><a href="blogdetail.html" class="bold txthover">Consectetur adipiscing elitam pulvinar.</a></h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi.</p>
                                                    <a href="blogdetail.html" class="readmore txthover">Read more</a>
                                                </div>
                                            </li>
                                            <li>
                                            	<a href="blogdetail.html" class="thumb">
                                                <%= image_tag "feed2.gif", alt: "" %>
                                                <span class="videoicon">&nbsp;</span>
                                              </a>
                                                <div class="desc">
                                                	<h5><a href="blogdetail.html" class="bold txthover">Consectetur adipiscing elitam pulvinar.</a></h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi.</p>
                                                    <a href="blogdetail.html" class="readmore txthover">Read more</a>
                                                </div>
                                            </li>
                                            <li>
                                            	<a href="blogdetail.html" class="thumb">
                                                <%= image_tag "feed3.gif", alt: "" %>
                                              </a>
                                                <div class="desc">
                                                	<h5><a href="blogdetail.html" class="bold txthover">Consectetur adipiscing elitam pulvinar.</a></h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi.</p>
                                                    <a href="blogdetail.html" class="readmore txthover">Read more</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="slidebuttons">
                                    	<p class="txt"><a href="blog.html" class="txthover">More feeds from same category</a></p>
                                    </div>
                                </div>
                                <!-- END -->
                                <!-- Latest Videos -->
                                <div id="videos" class="tab_sidebar_list">
                                    <!-- Tab Banner -->
                                    <div class="tabbanner">
                                    	<iframe width="448" height="202" src="http://www.youtube.com/embed/BCHhwxvQqxg" frameborder="0"></iframe>
                                    </div>
                                    <!-- Feeds Listings -->
                                    <div class="feedlist testimonial_wrapp">
                                    	<ul>
                                        	<li>
                                            	<a href="blogdetail.html" class="thumb">
                                                <%= image_tag "feed1.gif", alt: "" %>
                                              </a>
                                                <div class="desc">
                                                	<h5><a href="blogdetail.html" class="bold txthover">Consectetur adipiscing elitam pulvinar.</a></h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi.</p>
                                                    <a href="blogdetail.html" class="readmore txthover">Read more</a>
                                                </div>
                                            </li>
                                            <li>
                                            	<a href="blogdetail.html" class="thumb">
                                                <%= image_tag "feed2.gif", alt: "" %>
                                                <span class="videoicon">&nbsp;</span>
                                              </a>
                                                <div class="desc">
                                                	<h5><a href="blogdetail.html" class="bold txthover">Consectetur adipiscing elitam pulvinar.</a></h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi.</p>
                                                    <a href="blogdetail.html" class="readmore txthover">Read more</a>
                                                </div>
                                            </li>
                                            <li>
                                            	<a href="blogdetail.html" class="thumb">
                                                <%= image_tag "feed3.gif", alt: "" %>
                                              </a>
                                                <div class="desc">
                                                	<h5><a href="blogdetail.html" class="bold txthover">Consectetur adipiscing elitam pulvinar.</a></h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu porta ligula. Cras bibendum nibh vitae nisi.</p>
                                                    <a href="blogdetail.html" class="readmore txthover">Read more</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="slidebuttons">
                                    	<p class="txt"><a href="#" class="txthover">More videos from same category</a></p>
                                    </div>

                                </div>
                                <!-- END -->
                                <div class="clear"></div>
                            </div>
						</div>
                    </div>
                </div>
                <div class="barsmall right">
                	<!-- Widget -->
                	<div class="widget">
                    	<h4 class="headng backcolr">You've Helped Raise…</h4>
                        <!-- Donation Widget -->
                        <div class="donation">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam pulvinar.</p>
                            <div class="bar">
                              <%= image_tag "bar.gif", alt: "" %>
                            </div>
                            <div class="collection">
                            	<h2 class="colr bold">$20,114</h2>
                                <h4 class="target bold">Target, $25,000</h4>
                            </div>
                            <h2 class="bold backcolr donbtn"><a href="#">Donate Now</a></h2>
                        </div>
                    </div>
                    <!-- Widget -->
                    <div class="widget">
                    	<div class="widgettabs">
                            <!-- Tabs -->
                            <div class="tab_menu_container backcolr">
                                <ul id="tab_menu1">
                                    <li><a class="current" rel="blogswidget">Blogs</a></li>
                                    <li><a class="" rel="tweetsec">Tweets</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                            <!-- widget tabs -->
                            <div class="blogtweets">
                                <div class="tab_container_in">
                                    <!-- News Feeds -->
                                    <div id="blogswidget" class="tab_sidebar_list blogsc">
                                        <ul>
                                        	<li>
                                            	<div class="thumb">
                                                	<a href="blogdetail.html">
                                                    <%= image_tag "blog1.gif", alt: "" %>
                                                  </a>
                                                </div>
                                                <div class="desc">
                                                	<a href="blogdetail.html">Fly Fishers Serving as Transports for Noxious Little</a>
                                                    <p class="date italic">August 4 2010, <a href="#" class="cmnts">8 Comments</a></p>
                                                </div>
                                            </li>
                                            <li>
                                            	<div class="thumb">
                                                	<a href="blogdetail.html">
                                                    <%= image_tag "blog2.gif", alt: "" %>
                                                  </a>
                                                </div>
                                                <div class="desc">
                                                	<a href="blogdetail.html">Fly Fishers Serving as Transports for Noxious Little</a>
                                                    <p class="date italic">August 4 2010, <a href="#" class="cmnts">8 Comments</a></p>
                                                </div>
                                            </li>
                                            <li>
                                            	<div class="thumb">
                                                	<a href="blogdetail.html">
                                                    <%= image_tag "blog3.gif", alt: "" %>
                                                  </a>
                                                </div>
                                                <div class="desc">
                                                	<a href="blogdetail.html">Fly Fishers Serving as Transports for Noxious Little</a>
                                                    <p class="date italic">August 4 2010, <a href="#" class="cmnts">8 Comments</a></p>
                                                </div>
                                            </li>
                                            <li>
                                            	<div class="thumb">
                                                	<a href="blogdetail.html">
                                                    <%= image_tag "blog4.gif", alt: "" %>
                                                  </a>
                                                </div>
                                                <div class="desc">
                                                	<a href="blogdetail.html">Fly Fishers Serving as Transports for Noxious Little</a>
                                                    <p class="date italic">August 4 2010, <a href="#" class="cmnts">8 Comments</a></p>
                                                </div>
                                            </li>
                                            <li>
                                            	<div class="thumb">
                                                	<a href="blogdetail.html">
                                                    <%= image_tag "blog2.gif", alt: "" %>
                                                  </a>
                                                </div>
                                                <div class="desc">
                                                	<a href="blogdetail.html">Fly Fishers Serving as Transports for Noxious Little</a>
                                                    <p class="date italic">August 4 2010, <a href="#" class="cmnts">8 Comments</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END -->
                                    <!-- Latest Videos -->
                                    <div id="tweetsec" class="tab_sidebar_list">
                                        <ul>
                                        	<li>
                                            	<div class="desc">
                                                	<a href="#" class="colr">upthemes</a> Check out Day Tweet tweet <a href="#" class="colr">http://365psd.com/day/321/</a>
                                                </div>
                                                <p>12 minutes ago</p>
                                            </li>
                                            <li>
                                            	<div class="desc">
                                                	<a href="#" class="colr">upthemes</a> Check out Day Tweet tweet <a href="#" class="colr">http://365psd.com/day/321/</a>
                                                </div>
                                                <p>12 minutes ago</p>
                                            </li>
                                            <li>
                                            	<div class="desc">
                                                	<a href="#" class="colr">upthemes</a> Check out Day Tweet tweet <a href="#" class="colr">http://365psd.com/day/321/</a>
                                                </div>
                                                <p>12 minutes ago</p>
                                            </li>
                                            <li>
                                            	<div class="desc">
                                                	<a href="#" class="colr">upthemes</a> Check out Day Tweet tweet <a href="#" class="colr">http://365psd.com/day/321/</a>
                                                </div>
                                                <p>12 minutes ago</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END -->
                                    <div class="clear"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Widget -->
                	<div class="widget">
                    	<!-- Text Widget -->
                        <a href="#">
                          <%= image_tag "banner_small1.jpg", alt: "" %>
                        </a>
                    </div>
                </div>
                <div class="bigadv left">
                	<div class="widget">
                        <!-- Small Advertisment width = 728px*90 -->
                        <a href="#">
                          <%= image_tag "banner_big.jpg", alt: "" %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <!-- Footer -->
    <div id="footer">
    	<!-- Our Sponsers -->
        <div class="sponsers">
        	<div class="sponinner">
                <div class="sponshead">
                    <h5 class="colr bold">Our Sponsors</h5>
                </div>
                <div class="spnscrousal">
                    <div class="carouselsec_wrapp">
						<ul>
							<li>
								<a href="#">
                  <%= image_tag "logo1.gif", alt: "" %>
                </a>
                            </li>
                            <li>
								<a href="#">
                  <%= image_tag "logo2.gif", alt: "" %>
                </a>
                            </li>
                            <li>
								<a href="#">
                  <%= image_tag "logo3.gif", alt: "" %>
                </a>
                            </li>
                            <li>
								<a href="#">
                  <%= image_tag "logo4.gif", alt: "" %>
                </a>
                            </li>
                            <li>
								<a href="#">
                  <%= image_tag "logo5.gif", alt: "" %>
                </a>
							</li>
                            <li>
								<a href="#">
                  <%= image_tag "logo6.gif", alt: "" %>
                </a>
							</li>
                            <li>
								<a href="#">
                  <%= image_tag "logo7.gif", alt: "" %>
                </a>
							</li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <div class="inner">
        	<!-- Widget Footer Area -->
            <div class="footerwidgets">
            	<!-- Widget -->
                <div class="widget first">
                	<!-- Text Widget -->
                    <div class="textwidget">
                        <h4 class="headng colr">Text Widget</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar, odio eu consectetur porta, libero orci tempor felis, a adipiscing diam ipsum in enim. Donec hendrerit dictum quam, a tincidunt neque vulputate nec. Proin nec sollicitudin augue. Donec hendrerit
                        </p>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget">
                	<!-- Get Social -->
                	<div class="getsocial">
                    	<h4 class="headng colr">Get Social</h4>
                        <ul>
                        	<li><a href="#">
                            <%= image_tag "social1.gif", alt: "" %>

                          </a><span>Facebook</span></li>
                            <li><a href="#">
                              <%= image_tag "social2.gif", alt: "" %>

                            </a><span>Twitter</span></li>
                            <li><a href="#">
                              <%= image_tag "social3.gif", alt: "" %>

                            </a><span>Skype</span></li>
                            <li><a href="#">
                              <%= image_tag "social4.gif", alt: "" %>

                            </a><span>Yahoo</span></li>
                            <li><a href="#">
                              <%= image_tag "social5.gif", alt: "" %>

                            </a><span>Digg it</span></li>
                            <li><a href="#">
                              <%= image_tag "social6.gif", alt: "" %>

                            </a><span>Windows</span></li>
                            <li><a href="#">
                              <%= image_tag "social7.gif", alt: "" %>

                            </a><span>Apple</span></li>
                            <li><a href="#">
                              <%= image_tag "social8.gif", alt: "" %>

                            </a><span>Stumble Upon</span></li>
                            <li><a href="#">
                              <%= image_tag "social9.gif", alt: "" %>

                            </a><span>Freinds Finder</span></li>
                            <li><a href="#">
                              <%= image_tag "social10.gif", alt: "" %>

                            </a><span>Picasa</span></li>
                            <li><a href="#">
                              <%= image_tag "social11.gif", alt: "" %>

                            </a><span>Sound Cloud</span></li>
                            <li><a href="#">
                              <%= image_tag "social12.gif", alt: "" %>

                            </a><span>Blogger</span></li>
                            <li><a href="#">
                              <%= image_tag "social13.gif", alt: "" %>

                            </a><span>Delicious</span></li>
                            <li><a href="#">
                              <%= image_tag "social14.gif", alt: "" %>

                            </a><span>Google</span></li>
                            <li><a href="#">
                              <%= image_tag "social15.gif", alt: "" %>

                            </a><span>Vimeo</span></li>
                            <li><a href="#">
                              <%= image_tag "social16.gif", alt: "" %>

                            </a><span>Gamespot</span></li>
                            <li><a href="#">
                              <%= image_tag "social17.gif", alt: "" %>

                            </a><span>AIM</span></li>
                            <li><a href="#">
                              <%= image_tag "social18.gif", alt: "" %>

                            </a><span>Viddler</span></li>
                            <li><a href="#">
                              <%= image_tag "social19.gif", alt: "" %>

                            </a><span>Yelp</span></li>
                            <li><a href="#">
                              <%= image_tag "social20.gif", alt: "" %>

                            </a><span>AIM</span></li>
                            <li><a href="#">
                              <%= image_tag "social21.gif", alt: "" %>

                            </a><span>Virb</span></li>
                            <li><a href="#">
                              <%= image_tag "social22.gif", alt: "" %>

                            </a><span>Technorati</span></li>
                            <li><a href="#">
                              <%= image_tag "social23.gif", alt: "" %>

                            </a><span>Tumbler</span></li>
                            <li><a href="#">
                              <%= image_tag "social24.gif", alt: "" %>

                            </a><span>Reddit</span></li>
                        </ul>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget">
                	<!-- Text Widget -->
                    <div class="textwidget">
                        <h4 class="headng colr">Contact us</h4>
                        <p>
                           	Heartness Charity Organisation<br />
                            1234 Lorem ipsum, Dolor sit,<br />
                            City name - 43680.<br />
                            Tel - 123 456 7890/91/92<br />
                            Fax - 123 456 7890<br />
                            e-mail : info@organisation.org <br />
                        </p>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget">
                	<!-- Newsletter -->
                	<div class="newsletter">
                        <h4 class="headng colr">Newsletter</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <ul>
                        	<li>
                                <input type="text" value="Enter any Valid Email Address" name="s" onblur="if(this.value == '') { this.value = 'Enter any Valid Email Address'; }" onfocus="if(this.value == 'Enter any Valid Email Address') { this.value = ''; }" class="textfield" />
                            </li>
                            <li><input type="submit" value="Submit" class="go backcolr" /></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!-- Footer Navigation -->
            <div class="navi_bottom">
            	<ul>
                	<li><a href="index-2.html" class="txthover">Home</a></li>
                    <li><a href="#" class="txthover">About Us</a></li>
                    <li><a href="events.html" class="txthover">Events</a></li>
                    <li><a href="#" class="txthover">News</a></li>
                    <li><a href="#" class="txthover">Get Involved</a></li>
                    <li><a href="contact.html" class="txthover">Contact</a></li>
                    <li><a href="blog.html" class="txthover">Blog</a></li>
                    <li><a href="#" class="txthover">Stay Up To Date</a></li>
                    <li><a href="#" class="txthover">Send To Friend</a></li>
                    <li><a href="#" class="txthover">Donate Online</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="copyright" class="backcolr">
    	<div class="inner">
        	<p>© Copyright 2011 Wordpress, Inc. All rights reserved.</p>
            <a href="#top" class="top">&nbsp;</a>
        </div>
    </div>
</div>
</body>

<!-- Giao dien duoc chia se mien phi tai www.ptheme.net [Free HTML Download]. SKYPE[ptheme.net] - EMAIL[ptheme.net@gmail.com].-->
</html>

<script type="text/javascript">
$(window).load(function() {
		$('#slider').nivoSlider();
});
</script>
