  <%= render "header" %>

    <div class="clear"></div>

    <div id="contentsec">
    	<div class="inner">

        	<%= render "text_chay" %>
            <div class="clear"></div>
            <div class="columns">
                <%= render "menu_left" %>

                <div class="barbig left padright">
                  <div class="ban_smal" id="img-show-index">
                    <h3 style="color:red;">
                      <%= @thongbao.tieu_de %>
                    </h3>
                    <h6 class="pull-right">
                      <%= @thongbao.created_at.to_date %>
                    </h6>
                    <hr>
                    <%= @thongbao.noi_dung.html_safe %>


                  </div>
                </div>


                <%= render "menu_right" %>


                <div class="bigadv left">
                	<div class="widget">

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

<%= render "footer" %>
