
<ul class="nav nav-pills box box-primary">
  <li class="active"><a data-toggle="pill" href="#home">Thông Báo Chung</a></li>
  <li><a data-toggle="pill" href="#menu1">Thông Báo Đến Lớp Học Phần</a></li>
  <li><a data-toggle="pill" href="#menu2">Thông Báo Đến Sinh Viên Khóa Mới</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">



    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Thông Báo Chung Cho Học Sinh Toàn Trường</h3>
        </div>
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
          </div>
          <div class="table-responsive mailbox-messages">
            <% @sinhvien_thongbao.each do |thongbao| %>
            <table class="table table-hover table-striped">
              <tbody>
                  <tr>
                    <td style="width: 3%" ><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td style="width: 3%" class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td style="width: 10%; color: red;" class="mailbox-name"> <%= thongbao.ngay_thong_bao %> </td>
                    <td style="width: 55%; color: #009900;" class="mailbox-subject"><b> </b> <%= thongbao.tieu_de.html_safe %>
                    </td>
                    <td style="width: 7%" class="mailbox-attachment"></td>
                    <td style="width: 22%" class="mailbox-date"> <b>Đăng lúc : </b> <%= thongbao.created_at %></td>
                  </tr>

              </tbody>
            </table>
            <div class="col-md-12">
              <%= thongbao.noi_dung.html_safe %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
          </div>
        </div>
      </div>
    </div>




  </div>
  <div id="menu1" class="tab-pane fade">



    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Thông Báo Đến Lớp Học Phần</h3>
        </div>
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
          </div>
          <div class="table-responsive mailbox-messages">
            <% @sinhvien_lophocphan.each do |lophocphan| %>
            <table class="table table-hover table-striped">
              <tbody>
                  <tr>
                    <td style="width: 3%" ><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td style="width: 3%" class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td style="width: 10%; color: red;" class="mailbox-name"> <%= lophocphan.ngay_thong_bao %> </td>
                    <td style="width: 55%; color: #009900;" class="mailbox-subject"><b> </b> <%= lophocphan.tieu_de.html_safe %>
                    </td>
                    <td style="width: 7%" class="mailbox-attachment"></td>
                    <td style="width: 22%" class="mailbox-date"> <b>Đăng lúc : </b> <%= lophocphan.created_at %></td>
                  </tr>

              </tbody>
            </table>
            <div class="col-md-12">
              <%= lophocphan.noi_dung.html_safe %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div id="menu2" class="tab-pane fade">





    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Thông Báo Đến Lớp Học Phần</h3>
        </div>
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
          </div>
          <div class="table-responsive mailbox-messages">
            <% @sinhvien_khoamoi.each do |khoamoi| %>
            <table class="table table-hover table-striped">
              <tbody>
                  <tr>
                    <td style="width: 3%" ><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td style="width: 3%" class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td style="width: 10%; color: red;" class="mailbox-name"> <%= khoamoi.ngay_thong_bao %> </td>
                    <td style="width: 55%; color: #009900;" class="mailbox-subject"><b> </b> <%= khoamoi.tieu_de.html_safe %>
                    </td>
                    <td style="width: 7%" class="mailbox-attachment"></td>
                    <td style="width: 22%" class="mailbox-date"> <b>Đăng lúc : </b> <%= khoamoi.created_at %></td>
                  </tr>

              </tbody>
            </table>
            <div class="col-md-12">
              <%= khoamoi.noi_dung.html_safe %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
