<li class="active dulieu-<%= "#{ monhoc_chitietdaotao.mon_hoc.id }" %>" data-ma-mon-hoc="<%= "#{ monhoc_chitietdaotao.mon_hoc.id }" %>" style=" height: auto; ">
    <div class="col-md-12" style=" height: 50px; padding-bottom: 10px; padding-top: 10px; ">
      <i class="fa fa-inbox"></i>
      <%= monhoc_chitietdaotao.mon_hoc.tenmonhoc %>
      <span class="label label-success pull-right ">
        Số Tín Chỉ : <%= monhoc_chitietdaotao.mon_hoc.hesotinchi.to_i %>
      </span>
      <span class="label label-success pull-right " style=" margin-right: 5px; ">
        Môn của HK : <%= monhoc_chitietdaotao.kyhoc %>
      </span>
    </div>

    <div class="col-md-12">
      <span class="label label-primary pull-right" style=" margin-left: 20px; margin-top: -20px; ">
        Nhập Số Tiết Dạy Của Tuần
        <% if @giaoviens.present? %>
          <%= number_field_tag :so_tiet_day, nil, class: "form-control form-in-li sotiet" %>
        <% else %>
           <br> Không có giáo viên nào thuộc khoa này.
        <% end %>
      </span>
      <span class="label label-primary pull-right" style=" margin-left: 20px; margin-top: -20px; ">
        Chọn Giáo Viên
        <% if @giaoviens.present? %>
          <%= select_tag :giao_vien, options_from_collection_for_select(GiaoVien.where(id: ChuyenMon.where(mon_hoc_id: monhoc_chitietdaotao.mon_hoc_id).pluck(:giao_vien_id)), "id", "tengiaovien"),
          include_blank: "", class: "form-control select-2 giaovien", multiple: "true" %>
        <% else %>
          <br> Không có giáo viên nào thuộc khoa này.
        <% end %>
      </span>
    </div>
</li>

<style media="screen">
.form-in-li {
  width: 175px;
  height: 33px;
  color: red;
  font-size: 18px;
  text-align: center;
}
.select2-container {
  width: 200px;
}
</style>
