<section class="content-header menu-header-button">
  <%= link_to new_admin_chuong_trinh_dao_tao_chi_tiet_dao_tao_path, class: "btn icon-btn btn-danger" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Thêm Mới
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-warning" do %>
    <span class="glyphicon btn-glyphicon glyphicon-circle-arrow-left img-circle text-warning"></span>
    Trở Về
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-primary" do %>
    <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>
    Trang Quản Lý
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-success" do %>
    <span class="glyphicon btn-glyphicon glyphicon-open-file img-circle text-success"></span>
    Nhập Từ Excel
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-info" do %>
    <span class="glyphicon btn-glyphicon glyphicon-paste img-circle text-info"></span>
    Xuất Excel
  <% end %>
</section>





<section class="content">
  <div class="row col-md-12">
    <div class="col-md-6">

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Bordered Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
            <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
            </li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
          </ul>
        </div>
      </div>


    </div>
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Bordered Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
            <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
            </li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
          </ul>
        </div>
      </div>
      <!-- /.box -->

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Bordered Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
            <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
            </li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
          </ul>
        </div>
      </div>

      
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>





<!-- CSS -->
<style type="text/css">
.list {
    background-color: lightblue;
    border: 1px solid gray;
}

.items .ui-selected {
    background: red;
    color: white;
    font-weight: bold;
}

.items {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    width: 100px;
    float: left;
}

.items li {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.g {
    background-color: lightgreen;
}

.o {
    background-color: orange;
}

.highlight {
    border: 2px solid red;
    font-weight: bold;
}
</style>


<!-- Javascript -->
<script>
$(function () {
        $("#items1,#items2,#items4").sortable({
                connectWith: "#items4",
                dropOnEmpty: true
        });

        $("#items3").sortable({
                connectWith: "#items4",
                dropOnEmpty: false
        });

        $("#items1,#items2,#items3,#items4").disableSelection();
});
</script>

<!-- HTML -->
<ul id="items1" class="items" style="font-size:14px;">
    <li class="list">Drop on empty</li>
    <li class="list">Drop on empty</li>
    <li class="list">Drop on empty</li>
    <li class="list">Drop on empty</li>
    <li class="list">Drop on empty</li>
</ul>
<ul id="items2" class="items" style="font-size:14px;">
    <li class="list g">Drop on empty</li>
    <li class="list g">Drop on empty</li>
    <li class="list g">Drop on empty</li>
    <li class="list g">Drop on empty</li>
    <li class="list g">Drop on empty</li>
</ul>
<ul id="items3" class="items" style="font-size:14px;">
    <li class="list o">No drop on empty</li>
    <li class="list o">No drop on empty</li>
    <li class="list o">No drop on empty</li>
    <li class="list o">No drop on empty</li>
    <li class="list o">No drop on empty</li>
</ul>
<ul id="items4" class="items" style="border:1px dotted #A3A3A3;height:160px;background-color:#D6E5FF" title="Empty Placeholder">
</ul>
