<section class="content-header menu-header-button col-md-12" style=" text-align: -webkit-right !important; ">

  <%= link_to "", class: "btn icon-btn btn-danger button-create-ctdt" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Thêm Mới
  <% end %>

  <%= link_to new_admin_chuong_trinh_dao_tao_chi_tiet_dao_tao_path, class: "btn icon-btn btn-danger" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Thêm Mới
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-warning" do %>
    <span class="glyphicon btn-glyphicon glyphicon-circle-arrow-left img-circle text-warning"></span>
    Trở Về
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-primary" do %>
    <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>
    Trang Quản Lý
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-success" do %>
    <span class="glyphicon btn-glyphicon glyphicon-open-file img-circle text-success"></span>
    Nhập Từ Excel
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-info" do %>
    <span class="glyphicon btn-glyphicon glyphicon-paste img-circle text-info"></span>
    Xuất Excel
  <% end %>
</section>



<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Môn Học Dự Kiến</h3>
        </div>
        <div class="box-body no-padding">
          <ul id="items1" class="nav nav-pills nav-stacked min-height-200">
            <%= render partial: "mon_hoc", collection: @monhocs  %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= (1..@chuongtrinhdaotao.khoa_hoc.decorate.namdaotao_display*2).each do |kyhoc| %>
        <div class="box box-info" id="<%= kyhoc %>">
          <div class="box-header with-border">
            <h3 class="box-title">Kỳ Học <%= kyhoc %></h3>
          </div>
          <div class="box-body no-padding">
            <ul id="items<%= kyhoc + 1 %>" data-hoc-ky="<%= "#{kyhoc}" %>" class="hocky-items nav nav-pills nav-stacked min-height-200">

            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</section>


<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "mon_hoc.js" %>
  </script>
<% end %>
