<section class="content-header menu-header-button col-md-12" style=" text-align: -webkit-right !important; ">

  <%= link_to "#", class: "btn icon-btn btn-danger button-create-ctdt" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Lưu Lại
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-warning" do %>
    <span class="glyphicon btn-glyphicon glyphicon-circle-arrow-left img-circle text-warning"></span>
    Trở Về
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-primary" do %>
    <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>
    Trang Quản Lý
  <% end %>
</section>



<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Sử Dụng Thông Tin Từ Chương Trình Đào Tạo Củ</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn icon-btn btn-danger btn-filter">
              <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
              Sử Dụng
            </button>
          </div>
        </div>
        <%= render "chi_tiet_dao_tao_new" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Môn Học Dự Kiến</h3>
        </div>
        <div class="box-body no-padding">
          <ul id="items1" class="nav nav-pills nav-stacked min-height-200">
            <%= render partial: "mon_hoc", collection: @monhoc_daluu %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= (1..@chuongtrinhdaotao.khoa_hoc.decorate.namdaotao_display*2).each do |kyhoc| %>
        <div class="box box-info" id="<%= kyhoc %>">
          <div class="box-header with-border">
            <h3 class="box-title">Kỳ Học <%= kyhoc %></h3>
            <div class="box-tools" style="margin-right: 60px;">
               <!-- <p class="tinchi<%= kyhoc + 1 %>">5</p> -->
            </div>
            <div class="box-tools">
               <!-- <input type="text" name="" value=""> -->
            </div>
          </div>
          <div class="box-body no-padding">
            <ul id="items<%= kyhoc + 1 %>" data-hoc-ky="<%= "#{kyhoc}" %>" class="hocky-items nav nav-pills nav-stacked min-height-200">
              <% if @chitietdaotaos.present? %>
                <% @chitietdaotaos.each do |ctdt| %>
                  <% if ctdt.kyhoc == kyhoc %>
                    <% @monhocs.each do |monhoc| %>
                      <% if monhoc.id == ctdt.mon_hoc_id %>
                        <li class="active" data-ma-mon-hoc="<%= "#{ monhoc.id }" %>" data-so-tin-chi="<%= "#{ monhoc.hesotinchi.to_i }" %>">
                          <a href="#">
                            <i class="fa fa-inbox"></i>
                              <%= monhoc.tenmonhoc %>
                            <span class="label label-primary pull-right">
                              Số Tín Chỉ : <%= monhoc.hesotinchi.to_i %>
                            </span>
                          </a>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</section>


<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "mon_hoc.js" %>
    <%= render "chi_tiet_dao_tao_new.js" %>
  </script>
<% end %>
