<div class="login-box">
  <div class="login-logo">
    <!-- <a href="../../index2.html"><b>Admin</b>LTE</a> -->
    <%= link_to root_path do %>
      <b>DANA</b>VTC
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Đăng nhập vào hệ thống quản trị</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash error-#{key}" %>
      <% end %>

      <div class="form-group has-feedback">
        <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "Mã Cá Nhân" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mật Khẩu" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <% if devise_mapping.rememberable? -%>
          <div class="col-xs-8">
            <div class="form-group">
              <label>
                <%= f.check_box :remember_me %> Ghi Nhớ
              </label>
            </div>
          </div>
        <% end -%>

        <div class="col-xs-4">
          <%= f.submit "Đăng Nhập", class: "btn btn-primary btn-block btn-flat load-alert" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>


    <%= render "devise/shared/links" %>

  </div>
  <!-- /.login-box-body -->
</div>
