<section class="content-header menu-header-button">
  <%= link_to new_admin_lop_path, class: "btn icon-btn btn-danger" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Thêm Mới
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-warning" do %>
    <span class="glyphicon btn-glyphicon glyphicon-circle-arrow-left img-circle text-warning"></span>
    Trở Về
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-primary" do %>
    <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>
    Trang Quản Lý
  <% end %>

</section>


<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Lớp</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool btn-filter">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="box-body table-responsive no-padding min-height-600">
          <%= render "lop_form_search", search: @search, form: @form %>
          <div class="notices_result">
            <% if @lops.any? %>
              <table class="table table-hover table-striped">
                <thead class="thead-inverse">
                  <th><%= sort_link @search, :tenlop, "Tên Lớp" %></th>
                  <th><%= sort_link @search, :chuong_trinh_dao_tao_id, "Chương Trình Đào Tạo" %></th>
                  <th class="tac-vu">Tác Vụ</th>
                </thead>
                <tbody>
                  <%= render @lops %>
                </tbody>
              </table>
              <div class="pagination_center">
                <%= paginate @lops %>
              </div>
            <% else %>
              <h3 class="text-center">Không có lớp nào.</h3>
              <div class="col-xs-12 text-center margin-bottom-30">
                <%= link_to "Trở lại", admin_lops_path, class: "btn btn-default bg-red" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "lop_form_search.js" %>
  </script>
<% end %>
