<tr>
  <td><%= chuyen_mon.decorate.chuyenmon_show_display %></td>
  <% if chuyen_mon.giao_vien != nil && chuyen_mon.mon_hoc != nil %>
    <td><%= chuyen_mon.mon_hoc.tenmonhoc %></td>
    <td><%= chuyen_mon.giao_vien.tengiaovien %></td>
  <% end %>
  <td class="tac-vu">
    <%= link_to admin_chuyen_mon_path(chuyen_mon), class: "button-show" do %>
          <span class="button-inner">
            <button class="btn button button-show-small">
              <span class="text">Chi Tiết</span>
            </button>
          </span>
    <% end %>
    <%= link_to edit_admin_chuyen_mon_path(chuyen_mon), class: "button-edit" do %>
          <span class="button-inner">
            <button class="btn button button-edit-small">
              <span class="text">Chỉnh Sửa</span>
            </button>
          </span>
    <% end %>
    <%= link_to admin_chuyen_mon_path(chuyen_mon),method: :delete,
      data: {confirm: "Bạn chắc chắn muốn xóa"}, class: "button-delete" do %>
          <span class="button-inner">
            <button class="btn button button-delete-small">
              <span class="text">Xóa</span>
            </button>
          </span>
    <% end %>
  </td>
</tr>
