<section class="content-header menu-header-button">
  <%= link_to new_admin_chuong_trinh_dao_tao_path, class: "btn icon-btn btn-danger" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Thêm Mới
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-warning" do %>
    <span class="glyphicon btn-glyphicon glyphicon-circle-arrow-left img-circle text-warning"></span>
    Trở Về
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-primary" do %>
    <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>
    Trang Quản Lý
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-success" do %>
    <span class="glyphicon btn-glyphicon glyphicon-open-file img-circle text-success"></span>
    Nhập Từ Excel
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-info" do %>
    <span class="glyphicon btn-glyphicon glyphicon-paste img-circle text-info"></span>
    Xuất Excel
  <% end %>
</section>


<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Chương Trình Đào Tạo</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool btn-filter">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="box-body table-responsive no-padding min-height-600">
          <%= render "chuongtrinhdaotao_form_search", search: @search, form: @form %>
          <div class="notices_result">
            <% if @chuongtrinhdaotaos.any? %>
              <table class="table table-hover table-striped">
                <thead class="thead-inverse">
                  <th><%= sort_link @search, :mactdt, "Mã CT Đào Tạo" %></th>
                  <th><%= sort_link @search, :tenctdt, "Tên CT Đào Tạo" %></th>
                  <th><%= sort_link @search, :sotinchi, "Số Tín Chỉ" %></th>
                  <th><%= sort_link @search, :bac_dao_tao_id, "Bậc Đào Tạo" %></th>
                  <th><%= sort_link @search, :khoa_hoc_id, "Khóa Học" %></th>
                  <th><%= sort_link @search, :khoa_id, "Khoa" %></th>
                  <th class="tac-vu">Tác Vụ</th>
                </thead>
                <tbody>
                  <%= render @chuongtrinhdaotaos %>
                </tbody>
              </table>
              <div class="pagination_center">
                <%= paginate @chuongtrinhdaotaos %>
              </div>
            <% else %>
              <h3 class="text-center">Không có chương trình đào tạo nào.</h3>
              <div class="col-xs-12 text-center margin-bottom-30">
                <%= link_to "Trở lại", admin_chuong_trinh_dao_taos_path, class: "btn btn-default bg-red load-alert" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "chuongtrinhdaotao_form_search.js" %>
  </script>
<% end %>
