<%= form_for [:admin, khoahoc], html: {class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="box-body">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Tên Khóa Học</label>
      <div class="col-sm-8">
        <%= f.text_field :tenkhoahoc, class: "form-control", placeholder: "Nhập Tên Khóa Học" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group" id="text-date-time">
      <label for="inputEmail3" class="col-sm-2 control-label">Năm Bát Đầu</label>
      <div class="col-md-8 input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <% if khoahoc.persisted? %>
          <%= f.text_field :nambatdau, value: I18n.l(khoahoc.nambatdau, format: :month_year), class: "form-control",  id: "datetimepicker-nambatdau", placeholder: "Nhập Năm Bắt Đầu" %>
        <% else %>
          <%= f.text_field :nambatdau, class: "form-control",  id: "datetimepicker-nambatdau", placeholder: "Nhập Năm Bắt Đầu" %>
        <% end %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group" id="text-date-time">
      <label for="inputEmail3" class="col-sm-2 control-label">Năm Kết Thúc</label>
      <div class="col-md-8 input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <% if khoahoc.persisted? %>
          <%= f.text_field :namketthuc, value: I18n.l(khoahoc.namketthuc, format: :month_year), class: "form-control",  id: "datetimepicker-namketthuc", placeholder: "Nhập Năm Kết Thúc" %>
        <% else %>
          <%= f.text_field :namketthuc, class: "form-control",  id: "datetimepicker-namketthuc", placeholder: "Nhập Năm Kết Thúc" %>
        <% end %>
      </div>
      <div class="col-sm-2"></div>
    </div>


  </div>
  <div class="box-footer">
    <%= link_to "Trở Về", admin_khoa_hocs_path, class: "btn btn-default btn-warning" %>
    <% if khoahoc.persisted? %>
      <%= f.submit "Chỉnh Sửa", class: "btn btn-info pull-right" %>
    <% else %>
      <%= f.submit "Tạo Mới", class: "btn btn-info pull-right" %>
    <% end %>
  </div>
<% end %>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "khoahoc_form.js" %>
  </script>
<% end %>
