<tr>
  <td><%= khoa_hoc.id %></td>
  <td><%= khoa_hoc.tenkhoahoc %></td>
  <td><%= I18n.l khoa_hoc.nambatdau, format: :month_year %></td>
  <td><%= I18n.l khoa_hoc.namketthuc, format: :month_year %></td>
  <td><%= khoa_hoc.namdaotao_display %></td>
  <td class="tac-vu">
    <%= link_to admin_khoa_hoc_path(khoa_hoc), class: "button-show" do %>
          <span class="button-inner">
            <button class="btn button button-show-small">
              <span class="text">Chi Tiết</span>
            </button>
          </span>
    <% end %>
    <%= link_to edit_admin_khoa_hoc_path(khoa_hoc), class: "button-edit" do %>
          <span class="button-inner">
            <button class="btn button button-edit-small">
              <span class="text">Chỉnh Sửa</span>
            </button>
          </span>
    <% end %>
    <%= link_to admin_khoa_hoc_path(khoa_hoc),method: :delete,
      data: {confirm: "Bạn chắc chắn muốn xóa"}, class: "button-delete" do %>
          <span class="button-inner">
            <button class="btn button button-delete-small">
              <span class="text">Xóa</span>
            </button>
          </span>
    <% end %>
  </td>
</tr>
