<section class="content-header">
  <%= link_to "", data: {turbolinks: false} do %>
    <button class="btn btn-primary">
      <%= t ".add" %> <i class="fa fa-plus"></i>
    </button>
  <% end %>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-default box-solid">
        <div class="box-header width-border">
          <h3 class="box-title"><%= t ".header" %></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool btn-filter">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="box-body table-responsive no-padding min-height-600">
          <%= render "loaimonhoc_form_search", search: @search, form: @form %>
          <div class="notices_result">
            <%= render "loaimonhoc_table", loaimonhocs: @loaimonhocs, search: @search %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
