<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Menu Hệ Thống</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Phòng Ban</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-circle-o"></i>Phòng</a></li>
          <li>
            <%= link_to admin_khoas_path do %>
              <i class="fa fa-circle-o"></i>
              Khoa
            <% end %>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Hệ Thống</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_lops_path do %>
              <i class="fa fa-circle-o"></i>
              Lớp
            <% end %>
          </li>
          <li>
            <%= link_to admin_giao_viens_path do %>
              <i class="fa fa-circle-o"></i>
              Giáo Viên
            <% end %>
           </li>
           <li>
             <%= link_to admin_sinh_viens_path do %>
               <i class="fa fa-circle-o"></i>
               Sinh Viên
             <% end %>
            </li>
            <li>
              <%= link_to admin_quyens_path do %>
                <i class="fa fa-circle-o"></i>
                Ủy Quyền
              <% end %>
             </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Lập Kế Hoạch Đào Tạo</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_khoa_hocs_path do %>
              <i class="fa fa-circle-o"></i>
              Khóa Học
            <% end %>
          </li>
          <li>
            <%= link_to admin_bac_dao_taos_path do %>
              <i class="fa fa-circle-o"></i>
              Bậc Đào Tạo
            <% end %>
          </li>
          <li>
            <%= link_to admin_chuong_trinh_dao_taos_path do %>
              <i class="fa fa-circle-o"></i>
              Chương Trình Đào Tạo
            <% end %>
          </li>

        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Phân Môn Học</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_mon_hocs_path do %>
              <i class="fa fa-circle-o"></i>
              Danh Mục Môn Học
            <% end %>
           </li>
          <li>
            <%= link_to admin_loai_mon_hocs_path do %>
              <i class="fa fa-circle-o"></i>
              Danh Mục Loại Môn Học
            <% end %>
          </li>
          <li>
            <%= link_to admin_chuyen_mons_path do %>
              <i class="fa fa-circle-o"></i>
              Chuyên Môn
            <% end %>
          </li>
          <li>
            <%= link_to admin_phan_mons_path do %>
              <i class="fa fa-circle-o"></i>
              Phân Môn
            <% end %>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Lịch Báo Giảng</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_lich_giangs_path do %>
              <i class="fa fa-circle-o"></i>
              Lịch Giảng
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to admin_thong_baos_path do %>
          <i class="fa fa-envelope-open-o"></i> <span>Thông Báo</span>
          <span class="pull-right-container">
          </span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
