<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Menu Hệ Thống</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Phòng Ban</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <small class="label pull-right bg-green">Mới</small>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_khoas_path do %>
              <i class="fa fa-circle-o"></i>
              Khoa
            <% end %>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Hệ Thống</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <small class="label pull-right bg-green">Mới</small>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_lops_path do %>
              <i class="fa fa-circle-o"></i>
              Lớp
            <% end %>
          </li>
           <li>
             <%= link_to admin_sinh_viens_path do %>
               <i class="fa fa-circle-o"></i>
               Sinh Viên
             <% end %>
            </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Kế Hoạch Đào Tạo</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_khoa_hocs_path do %>
              <i class="fa fa-circle-o"></i>
              Khóa Học
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Phân Môn Học</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to admin_mon_hocs_path do %>
              <i class="fa fa-circle-o"></i>
              Danh Mục Môn Học
            <% end %>
           </li>
          <li>
            <%= link_to admin_loai_mon_hocs_path do %>
              <i class="fa fa-circle-o"></i>
              Danh Mục Loại Môn Học
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
