<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>DaoTao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <%= stylesheet_link_tag "custom-login" %>
    <!-- Theme style -->
    <%= stylesheet_link_tag "AdminLTE" %>

    <!-- Theme skin -->
    <%= stylesheet_link_tag "_all-skins" %>


  </head>


  <body class="hold-transition login-page">
    <%= yield %>
  </body>

</html>
